@charset "utf-8";

#body {
	margin-top: 50px;
	margin-bottom: 120px;
}

.upload-menu {
	margin-top: 10px;
	margin-bottom: 10px;	
}

.upload-panel {
	margin-top: 20px;
	margin-bottom: 20px;
}

.init-hide {
	display: none;
}

.license .icon::after {
	content: url(images/ccbync.png);
}
