@charset "utf-8";

body {
	color: #535353;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB",
		"Microsoft YaHei", Arial, sans-serif !important;
}

a {
	color: #535353;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.ctr {
	clear: both;
	display: block;
}

#body {
	margin-top: 10px;
	margin-bottom: 10px;
}

#header {
	margin-bottom: 60px;
}

#footer {
	margin-top: 60px;
	text-align: center;
}

#footer .license .icon::after {
	content: url(images/ccbync.png);
}