@charset "utf-8";

body {
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB",
		"Microsoft YaHei", Arial, sans-serif !important;
	font-size: 14px !important;
	margin-top: 50px !important;
	margin-bottom: 60px !important;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.ctr {
	clear: both;
	display: block;
}

.footer {
	width: 100%;
	height: 60px;
	text-align: center;
}

.footer .license .icon {
	content: url(images/ccbync.png);
}

.footer .license .icon::after {
	content: url(images/ccbync.png);
}